 .u-section-1 {
  background-image: url("images/33263286045_95d763d554_o.jpg");
  background-position: 0% 50%;
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  min-height: 500px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 114px 553px 0 96px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 800;
  margin: 0 80px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 449px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 229px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 49px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50px;
} .u-section-3 {
  background-image: linear-gradient(220deg, var(--custom-color-10), #77aad9);
}

.u-section-3 .u-sheet-1 {
  min-height: 374px;
}

.u-section-3 .u-image-1 {
  width: 169px;
  height: 203px;
  margin: 60px auto 0 175px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: -145px 250px 0 390px;
}

.u-section-3 .u-line-1 {
  width: 510px;
  transform-origin: right center 0px;
  margin: 13px auto 0 385px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 25px auto 0 390px;
}

.u-section-3 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -49px auto 0 547px;
}

.u-section-3 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -49px auto 88px 702px;
  padding: 9px 16px 10px 14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: 110px;
  }

  .u-section-3 .u-text-1 {
    width: 500px;
    margin-top: 20px;
    margin-right: 215px;
    margin-left: 225px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 320px;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
    margin-left: 125px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 282px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 208px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -145px;
    margin-right: 8px;
    margin-left: 213px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 208px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 3px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 160px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 175px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 40px;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-left: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-left: 171px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 601px;
}

.u-section-4 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 520px);
  min-height: 501px;
  margin: 50px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 0 0 209px;
}

.u-section-4 .u-text-2 {
  background-image: none;
  line-height: 1.6;
  margin: -420px calc(((100% - 1140px) / 2) + 290px) 0 calc(((100% - 1140px) / 2) + 545px);
}

.u-section-4 .u-text-3 {
  background-image: none;
  line-height: 1.6;
  margin: -374px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 844px);
}

.u-section-4 .u-text-4 {
  margin: -35px calc(((100% - 1140px) / 2) + 620px) 59px calc(((100% - 1140px) / 2) + 189px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 560px);
    margin-left: calc(((100% - 940px) / 2) + 89px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 190px);
    margin-left: calc(((100% - 940px) / 2) + 445px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 644px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 696px);
    margin-right: calc(((100% - 940px) / 2) + 520px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 429px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-top: -420px;
    margin-right: calc(((100% - 720px) / 2) + 80px);
    margin-left: calc(((100% - 720px) / 2) + 335px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 424px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 533px);
    margin-right: calc(((100% - 720px) / 2) + 389px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 520px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 249px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 235px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 244px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2) + 400px);
    margin-right: calc(((100% - 540px) / 2) + 209px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 520px);
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2) + 49px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 44px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2) + 252px);
    margin-right: calc(((100% - 340px) / 2) + 9px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 554px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 15px 20px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: 44px auto 0 20px;
  padding: 20px 110px 21px 109px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -70px 20px 0 auto;
  padding: 20px 71px 21px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  margin: -70px auto 60px;
  padding: 20px 69px 21px 68px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-3 {
    margin-top: -70px;
  }
}.u-block-fe71-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  top: auto;
  right: auto;
  bottom: 24px;
}

.u-block-fe71-3 {
  position: absolute;
  left: 0;
}

.u-block-fe71-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-fe71-5 {
    left: calc(((100% - 940px) / 2)  + -100px);
  }
}

@media (max-width: 991px) {
  .u-block-fe71-5 {
    left: calc(((100% - 720px) / 2)  + -210px);
  }
}

@media (max-width: 767px) {
  .u-block-fe71-5 {
    left: calc(((100% - 540px) / 2)  + -300px);
  }
}

@media (max-width: 575px) {
  .u-block-fe71-5 {
    left: calc(((100% - 340px) / 2)  + -400px);
  }
}

.u-section-6-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6-1 .u-shape-1 {
  height: 550px;
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-6-1 .u-shape-2 {
  height: 301px;
  margin-top: -450px;
  margin-bottom: 0;
}

.u-section-6-1 .u-image-1 {
  width: 200px;
  height: 260px;
  margin: -280px 68px 0 auto;
}

.u-section-6-1 .u-shape-3 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-1 .u-image-2 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-1 .u-image-3 {
  width: 200px;
  height: 260px;
  margin: -259px 336px 0 auto;
}

.u-section-6-1 .u-image-4 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 68px;
}

.u-section-6-1 .u-group-1 {
  width: 200px;
  min-height: 260px;
  margin: -260px auto 0 68px;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -371px 0 0;
}

.u-section-6-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6-1 .u-text-3 {
  font-weight: 700;
  margin: 349px 872px 0 68px;
}

.u-section-6-1 .u-text-4 {
  font-weight: 700;
  margin: -72px 604px 0 336px;
}

.u-section-6-1 .u-text-5 {
  font-weight: 700;
  margin: -72px 336px 0 604px;
}

.u-section-6-1 .u-text-6 {
  font-weight: 700;
  margin: -72px 68px 60px 872px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-6-1 .u-text-3 {
    margin-left: 0;
    margin-right: 740px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 504px;
    margin-left: 236px;
  }

  .u-section-6-1 .u-text-5 {
    margin-right: 236px;
    margin-left: 504px;
  }

  .u-section-6-1 .u-text-6 {
    margin-right: 0;
    margin-left: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 520px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 394px;
    margin-left: 126px;
  }

  .u-section-6-1 .u-text-5 {
    margin-right: 126px;
    margin-left: 394px;
  }

  .u-section-6-1 .u-text-6 {
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 304px;
    margin-left: 36px;
  }

  .u-section-6-1 .u-text-5 {
    margin-right: 36px;
    margin-left: 304px;
  }

  .u-section-6-1 .u-text-6 {
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-6-1 .u-shape-3 {
    margin-left: 140px;
  }

  .u-section-6-1 .u-image-2 {
    margin-left: 140px;
  }

  .u-section-6-1 .u-image-3 {
    margin-right: 140px;
  }

  .u-section-6-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-6-1 .u-text-5 {
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-6-1 .u-text-6 {
    margin-left: 140px;
  }
}

.u-section-6-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6-2 .u-shape-1 {
  height: 550px;
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-6-2 .u-shape-2 {
  height: 301px;
  margin-top: -450px;
  margin-bottom: 0;
}

.u-section-6-2 .u-text-1 {
  font-size: 2.25rem;
  margin: -391px 0 0;
}

.u-section-6-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6-2 .u-text-3 {
  font-weight: 700;
  margin: 349px 868px 0 64px;
}

.u-section-6-2 .u-text-4 {
  font-weight: 700;
  margin: -72px 604px 0 336px;
}

.u-section-6-2 .u-text-5 {
  font-weight: 700;
  margin: -72px 331px 0 599px;
}

.u-section-6-2 .u-text-6 {
  font-weight: 700;
  margin: -72px 56px 0 872px;
}

.u-section-6-2 .u-image-1 {
  width: 200px;
  height: 260px;
  margin: -383px auto 0 336px;
}

.u-section-6-2 .u-image-2 {
  width: 208px;
  height: 260px;
  margin: -259px auto 0 64px;
}

.u-section-6-2 .u-image-3 {
  width: 211px;
  height: 260px;
  margin: -261px 331px 0 auto;
}

.u-section-6-2 .u-image-4 {
  width: 212px;
  height: 260px;
  margin: -260px 56px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-shape-1 {
    width: 940px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: -390px;
  }

  .u-section-6-2 .u-text-3 {
    margin-left: 0;
    margin-right: 732px;
  }

  .u-section-6-2 .u-text-4 {
    margin-right: 504px;
    margin-left: 236px;
  }

  .u-section-6-2 .u-text-5 {
    margin-right: 231px;
    margin-left: 499px;
  }

  .u-section-6-2 .u-text-6 {
    margin-right: 0;
    margin-left: 728px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-6-2 .u-text-3 {
    margin-right: 512px;
  }

  .u-section-6-2 .u-text-4 {
    margin-right: 394px;
    margin-left: 126px;
  }

  .u-section-6-2 .u-text-5 {
    margin-right: 121px;
    margin-left: 389px;
  }

  .u-section-6-2 .u-text-6 {
    margin-left: 508px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-6-2 .u-text-3 {
    margin-right: 332px;
  }

  .u-section-6-2 .u-text-4 {
    margin-right: 304px;
    margin-left: 36px;
  }

  .u-section-6-2 .u-text-5 {
    margin-right: 31px;
    margin-left: 299px;
  }

  .u-section-6-2 .u-text-6 {
    margin-left: 328px;
  }

  .u-section-6-2 .u-image-3 {
    margin-right: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6-2 .u-text-3 {
    margin-right: 132px;
  }

  .u-section-6-2 .u-text-4 {
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-6-2 .u-text-5 {
    margin-right: 0;
    margin-left: 130px;
  }

  .u-section-6-2 .u-text-6 {
    margin-left: 128px;
  }

  .u-section-6-2 .u-image-1 {
    margin-left: 140px;
  }

  .u-section-6-2 .u-image-3 {
    margin-right: 129px;
  }
}

.u-section-6-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6-3 .u-shape-1 {
  height: 550px;
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-6-3 .u-shape-2 {
  height: 301px;
  margin-top: -450px;
  margin-bottom: 0;
}

.u-section-6-3 .u-image-1 {
  width: 200px;
  height: 260px;
  margin: -280px 68px 0 auto;
}

.u-section-6-3 .u-shape-3 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-3 .u-image-2 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-3 .u-image-3 {
  width: 200px;
  height: 260px;
  margin: -259px 336px 0 auto;
}

.u-section-6-3 .u-image-4 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 68px;
}

.u-section-6-3 .u-text-1 {
  font-size: 2.25rem;
  margin: -371px 0 0;
}

.u-section-6-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6-3 .u-text-3 {
  font-weight: 700;
  margin: 349px 872px 0 68px;
}

.u-section-6-3 .u-text-4 {
  font-weight: 700;
  margin: -72px 604px 0 336px;
}

.u-section-6-3 .u-text-5 {
  font-weight: 700;
  margin: -72px 336px 0 604px;
}

.u-section-6-3 .u-text-6 {
  font-weight: 700;
  margin: -72px 68px 60px 872px;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-shape-1 {
    width: 940px;
  }

  .u-section-6-3 .u-text-3 {
    margin-left: 0;
    margin-right: 740px;
  }

  .u-section-6-3 .u-text-4 {
    margin-right: 504px;
    margin-left: 236px;
  }

  .u-section-6-3 .u-text-5 {
    margin-right: 236px;
    margin-left: 504px;
  }

  .u-section-6-3 .u-text-6 {
    margin-right: 0;
    margin-left: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-shape-1 {
    width: 720px;
  }

  .u-section-6-3 .u-text-3 {
    margin-right: 520px;
  }

  .u-section-6-3 .u-text-4 {
    margin-right: 394px;
    margin-left: 126px;
  }

  .u-section-6-3 .u-text-5 {
    margin-right: 126px;
    margin-left: 394px;
  }

  .u-section-6-3 .u-text-6 {
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-6-3 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-6-3 .u-text-4 {
    margin-right: 304px;
    margin-left: 36px;
  }

  .u-section-6-3 .u-text-5 {
    margin-right: 36px;
    margin-left: 304px;
  }

  .u-section-6-3 .u-text-6 {
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-6-3 .u-shape-3 {
    margin-left: 140px;
  }

  .u-section-6-3 .u-image-2 {
    margin-left: 140px;
  }

  .u-section-6-3 .u-image-3 {
    margin-right: 140px;
  }

  .u-section-6-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6-3 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-6-3 .u-text-4 {
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-6-3 .u-text-5 {
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-6-3 .u-text-6 {
    margin-left: 140px;
  }
}

.u-section-6-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6-4 .u-shape-1 {
  height: 550px;
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-6-4 .u-shape-2 {
  height: 301px;
  margin-top: -450px;
  margin-bottom: 0;
}

.u-section-6-4 .u-image-1 {
  width: 200px;
  height: 260px;
  margin: -280px 68px 0 auto;
}

.u-section-6-4 .u-shape-3 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-4 .u-image-2 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-4 .u-image-3 {
  width: 200px;
  height: 260px;
  margin: -259px auto 0 68px;
}

.u-section-6-4 .u-image-4 {
  width: 200px;
  min-height: 260px;
  background-image: url("images/23.png");
  background-position: 50% 50%;
  margin: -260px auto 0 68px;
}

.u-section-6-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-4 .u-text-1 {
  font-size: 2.25rem;
  margin: -371px 0 0;
}

.u-section-6-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6-4 .u-text-3 {
  font-weight: 700;
  margin: 349px 872px 0 68px;
}

.u-section-6-4 .u-text-4 {
  font-weight: 700;
  margin: -72px 604px 0 336px;
}

.u-section-6-4 .u-text-5 {
  font-weight: 700;
  margin: -72px 336px 0 604px;
}

.u-section-6-4 .u-text-6 {
  font-weight: 700;
  margin: -72px 68px 0 872px;
}

.u-section-6-4 .u-shape-4 {
  width: 200px;
  height: 260px;
  margin: -383px 336px 0 auto;
}

.u-section-6-4 .u-image-5 {
  width: 200px;
  height: 260px;
  margin: -258px 336px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6-4 .u-shape-1 {
    width: 940px;
  }

  .u-section-6-4 .u-text-3 {
    margin-left: 0;
    margin-right: 740px;
  }

  .u-section-6-4 .u-text-4 {
    margin-right: 504px;
    margin-left: 236px;
  }

  .u-section-6-4 .u-text-5 {
    margin-right: 236px;
    margin-left: 504px;
  }

  .u-section-6-4 .u-text-6 {
    margin-right: 0;
    margin-left: 740px;
  }

  .u-section-6-4 .u-shape-4 {
    margin-top: -381px;
  }

  .u-section-6-4 .u-image-5 {
    margin-top: -262px;
  }
}

@media (max-width: 991px) {
  .u-section-6-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-6-4 .u-text-3 {
    margin-right: 520px;
  }

  .u-section-6-4 .u-text-4 {
    margin-right: 394px;
    margin-left: 126px;
  }

  .u-section-6-4 .u-text-5 {
    margin-right: 126px;
    margin-left: 394px;
  }

  .u-section-6-4 .u-text-6 {
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-6-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-6-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-4 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-6-4 .u-text-4 {
    margin-right: 304px;
    margin-left: 36px;
  }

  .u-section-6-4 .u-text-5 {
    margin-right: 36px;
    margin-left: 304px;
  }

  .u-section-6-4 .u-text-6 {
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-6-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-6-4 .u-shape-3 {
    margin-left: 140px;
  }

  .u-section-6-4 .u-image-2 {
    margin-left: 140px;
  }

  .u-section-6-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6-4 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-6-4 .u-text-4 {
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-6-4 .u-text-5 {
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-6-4 .u-text-6 {
    margin-left: 140px;
  }

  .u-section-6-4 .u-shape-4 {
    margin-top: -366px;
    margin-right: 140px;
  }

  .u-section-6-4 .u-image-5 {
    margin-right: 140px;
  }
}

 .u-section-6-5 {
  background-image: none;
}

.u-section-6-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6-5 .u-shape-1 {
  height: 550px;
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-6-5 .u-shape-2 {
  height: 301px;
  margin-top: -450px;
  margin-bottom: 0;
}

.u-section-6-5 .u-image-1 {
  width: 200px;
  height: 260px;
  margin: -280px 68px 0 auto;
}

.u-section-6-5 .u-shape-3 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-5 .u-image-2 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 336px;
}

.u-section-6-5 .u-image-3 {
  width: 200px;
  height: 260px;
  margin: -259px 336px 0 auto;
}

.u-section-6-5 .u-image-4 {
  width: 200px;
  height: 260px;
  margin: -260px auto 0 68px;
}

.u-section-6-5 .u-image-5 {
  width: 200px;
  min-height: 260px;
  background-image: url("images/e6e8d578-32bd-dbe1-6ffb-cc2f8c84e14c.png");
  background-position: 50% 50%;
  margin: -260px auto 0 68px;
}

.u-section-6-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-5 .u-text-1 {
  font-size: 2.25rem;
  margin: -371px 0 0;
}

.u-section-6-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6-5 .u-text-3 {
  font-weight: 700;
  margin: 349px 872px 0 68px;
}

.u-section-6-5 .u-text-4 {
  font-weight: 700;
  margin: -72px 604px 0 336px;
}

.u-section-6-5 .u-text-5 {
  font-weight: 700;
  margin: -72px 336px 0 604px;
}

.u-section-6-5 .u-text-6 {
  font-weight: 700;
  margin: -72px 68px 60px 872px;
}

@media (max-width: 1199px) {
  .u-section-6-5 .u-shape-1 {
    width: 940px;
  }

  .u-section-6-5 .u-text-3 {
    margin-left: 0;
    margin-right: 740px;
  }

  .u-section-6-5 .u-text-4 {
    margin-right: 504px;
    margin-left: 236px;
  }

  .u-section-6-5 .u-text-5 {
    margin-right: 236px;
    margin-left: 504px;
  }

  .u-section-6-5 .u-text-6 {
    margin-right: 0;
    margin-left: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-6-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-6-5 .u-text-3 {
    margin-right: 520px;
  }

  .u-section-6-5 .u-text-4 {
    margin-right: 394px;
    margin-left: 126px;
  }

  .u-section-6-5 .u-text-5 {
    margin-right: 126px;
    margin-left: 394px;
  }

  .u-section-6-5 .u-text-6 {
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-6-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-6-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-5 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-6-5 .u-text-4 {
    margin-right: 304px;
    margin-left: 36px;
  }

  .u-section-6-5 .u-text-5 {
    margin-right: 36px;
    margin-left: 304px;
  }

  .u-section-6-5 .u-text-6 {
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-6-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-6-5 .u-shape-3 {
    margin-left: 140px;
  }

  .u-section-6-5 .u-image-2 {
    margin-left: 140px;
  }

  .u-section-6-5 .u-image-3 {
    margin-right: 140px;
  }

  .u-section-6-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6-5 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-6-5 .u-text-4 {
    margin-right: 140px;
    margin-left: 0;
  }

  .u-section-6-5 .u-text-5 {
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-6-5 .u-text-6 {
    margin-left: 140px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 628px;
}

.u-section-7 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 520px);
  min-height: 528px;
  margin: 50px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0 270px;
}

.u-section-7 .u-text-2 {
  font-weight: normal;
  margin: 357px 0 0 270px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -501px calc(((100% - 1140px) / 2) + 372px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-7 .u-text-4 {
  font-weight: normal;
  margin: 20px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 14px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 942px);
}

.u-section-7 .u-text-6 {
  margin: 20px calc(((100% - 1140px) / 2)) -93px calc(((100% - 1140px) / 2) + 570px);
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1141px;
  }

  .u-section-7 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 272px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 742px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 570px);
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 628px;
  }

  .u-section-7 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-7 .u-text-3 {
    margin-top: -501px;
    margin-right: calc(((100% - 720px) / 2) + 162px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 522px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 350px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 520px);
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 72px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 342px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 170px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 520px);
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 142px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 142px);
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 142px);
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-8 .u-sheet-1 {
  min-height: 50px;
}