 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-line-1 {
  width: 84px;
  transform-origin: left center 0px;
  position: absolute;
  top: 49px;
  left: auto;
  right: 353px;
}

.u-section-1 .u-line-2 {
  width: 126px;
  transform-origin: left center 0px;
  margin: 46px 444px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 49px;
  background-image: none;
  height: 49px;
  color: rgb(255, 255, 255) !important;
  margin: -26px 438px 0 auto;
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: -48px auto 0 520px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 49px;
  height: 49px;
  margin: -49px 306px 0 auto;
  padding: 10px;
}

.u-section-1 .u-shape-1 {
  width: 300px;
  height: 625px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -86px auto 0 20px;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -582px 901px 0 61px;
}

.u-section-1 .u-shape-2 {
  width: 260px;
  height: 116px;
  background-image: none;
  margin: 16px auto 0 20px;
}

.u-section-1 .u-line-3 {
  width: 260px;
  transform-origin: left center 0px;
  margin: -82px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -28px 860px 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 19px auto 0 25px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -58px 863px 0 172px;
}

.u-section-1 .u-shape-3 {
  width: 260px;
  height: 263px;
  background-image: none;
  margin: 47px auto 0 20px;
}

.u-section-1 .u-line-4 {
  width: 260px;
  transform-origin: left center 0px;
  margin: -229px auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: -29px 891px 0 51px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 15px 869px 0 25px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 32px auto 0 104px;
  padding: 10px 44px 11px 43px;
}

.u-section-1 .u-shape-4 {
  width: 350px;
  height: 160px;
  margin: -543px auto 0 320px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -146px 485px 0 335px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 40px 0 0 300px;
}

.u-section-1 .u-icon-5 {
  width: 40px;
  background-image: none;
  height: 40px;
  color: rgb(255, 255, 255) !important;
  margin: -75px 454px 0 auto;
  padding: 6px;
}

.u-section-1 .u-shape-5 {
  width: 350px;
  height: 140px;
  margin: 64px 20px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: -124px 35px 0 785px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 82px 20px 0 auto;
  padding: 10px;
}

.u-section-1 .u-shape-6 {
  width: 716px;
  height: 50px;
  margin: -57px 104px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: -37px auto 0 350px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: 36px 19px 0 auto;
  padding: 7px 51px 8px 50px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: -39px auto 0 320px;
  padding: 7px 24px 7px 23px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: 21px 20px 0 auto;
  padding: 8px 49px 9px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: -42px auto 0 320px;
  padding: 7px 9px 9px 8px;
}

.u-section-1 .u-icon-7 {
  width: 35px;
  height: 35px;
  margin: -643px 0 342px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    height: 3px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 82px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 361px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -319px;
    margin-left: 429px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 354px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -216px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -493px;
    margin-right: 762px;
    margin-left: 289px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -797px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 681px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 763px;
    margin-left: 166px;
  }

  .u-section-1 .u-line-4 {
    height: 2px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -162px;
    margin-right: 742px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 144px;
    margin-right: 694px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -620px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 75px;
    margin-right: 385px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -155px;
    margin-left: 200px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -24px;
    margin-right: 374px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -108px;
    margin-right: 0;
    margin-left: 620px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 122px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 289px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -46px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -38px;
    margin-left: 120px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -41px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-2 {
    margin-top: 324px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 277px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -17px;
    margin-left: 329px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 392px;
    margin-right: 234px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -799px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -206px;
    margin-right: 542px;
    margin-left: 221px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -551px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 461px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -65px;
    margin-right: 615px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -182px;
    margin-right: 522px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 164px;
    margin-right: 474px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -850px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 87px;
    margin-right: 275px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 105px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -66px;
    margin-right: 286px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 81px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -154px;
    margin-left: 15px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 139px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -76px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 221px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 106px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -95px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 77px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -98px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-2 {
    margin-right: 414px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 208px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 329px;
    margin-left: 247px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 176px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1144px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 362px;
    margin-left: 166px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -169px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 281px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -58px;
    margin-right: 435px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 342px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 294px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 190px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 185px;
    margin-left: 35px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-2 {
    margin-top: 273px;
    margin-right: 214px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 131px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 41px;
    margin-left: 156px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 393px;
    margin-right: 111px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -807px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -313px;
    margin-right: 162px;
    margin-left: 105px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 235px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 142px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 94px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-top: -800px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 86px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -121px;
    margin-right: 135px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-top: 80px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -333px;
    margin-left: 20px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 280px;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
    margin-top: -134px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 105px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 108px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -38px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 21px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -41px;
  }
}