 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-shape-1 {
  height: 100px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 76px;
  height: 76px;
  background-image: url("images/319ce148-8907-83b9-7cd9-720890fb0183.png");
  background-position: 50% 50%;
  margin: -88px 10px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -78px 104px 0 784px;
}

.u-section-1 .u-tabs-1 {
  min-height: 699px;
  margin-top: 73px;
  margin-bottom: 18px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 53px;
  height: 53px;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  border-style: none;
  margin: -44px auto 0 71px;
  padding: 2px 106px 3px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  margin: -35px 350px 0 auto;
  padding: 2px 130px;
}

.u-section-1 .u-shape-2 {
  width: 325px;
  height: 35px;
  background-image: none;
  margin: -34px 7px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 26px;
  height: 26px;
  margin: -30px 24px 0 auto;
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
  font-size: 1rem;
}

.u-section-1 .u-table-body-1 {
  font-size: 1rem;
}

.u-block-c96a-84 {
  height: 46px;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 36px auto 0 10px;
}

.u-section-1 .u-shape-3 {
  width: 1120px;
  height: 130px;
  margin: 10px auto 0;
}

.u-section-1 .u-icon-5 {
  width: 85px;
  height: 85px;
  margin: -107px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 85px;
  height: 85px;
  margin: -86px auto 0 125px;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 85px;
  height: 85px;
  margin: -85px auto 0 230px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  border-style: solid;
  margin: -67px 20px 0 auto;
  padding: 0 9px 1px;
}

.u-section-1 .u-icon-8 {
  font-size: 2em;
}

.u-section-1 .u-form-1 {
  height: 502px;
  width: 1140px;
  margin: 40px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  background-image: none;
  padding: 20px 100px 21px;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 1px 0;
}

.u-section-1 .u-shape-4 {
  width: 1235px;
  height: 300px;
  margin: 0 -47px;
}

.u-section-1 .u-group-1 {
  min-height: 518px;
  width: 350px;
  margin: -227px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-group-2 {
  min-height: 214px;
  margin: 24px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 12px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px 0 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 200px;
  height: 25px;
  margin: -22px auto 0 18px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -25px 48px 0 18px;
}

.u-section-1 .u-text-7 {
  margin: 13px 18px 0;
}

.u-section-1 .u-shape-6 {
  width: 100px;
  height: 25px;
  margin: 10px auto 0 18px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -25px 148px 0 19px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -22px 85px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 11px 18px 0;
}

.u-section-1 .u-shape-7 {
  width: 50px;
  height: 25px;
  margin: 10px auto 0 18px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -23px 199px 0 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -23px auto 0 78px;
}

.u-section-1 .u-text-13 {
  margin: 10px 19px 0;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-shape-8 {
  height: 118px;
  margin: -107px 0 0;
}

.u-section-1 .u-group-3 {
  min-height: 514px;
  width: 350px;
  margin: -518px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 19px 30px;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 372px;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 12px;
}

.u-section-1 .u-shape-9 {
  width: 100px;
  height: 25px;
  margin: 16px auto 0 18px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: -25px 148px 0 18px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -21px 85px 0 auto;
}

.u-section-1 .u-text-19 {
  margin: 10px 18px 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 85px 0 auto;
}

.u-section-1 .u-shape-10 {
  width: 100px;
  height: 25px;
  margin: -24px auto 0 18px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: -25px 148px 0 19px;
}

.u-section-1 .u-text-22 {
  margin: 13px 18px 0;
}

.u-section-1 .u-shape-11 {
  width: 50px;
  height: 25px;
  margin: 7px auto 0 18px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: -24px 199px 0 20px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -23px auto 0 78px;
}

.u-section-1 .u-text-25 {
  margin: 11px 18px 0;
}

.u-section-1 .u-shape-12 {
  width: 50px;
  height: 25px;
  margin: 10px auto 0 18px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: -25px 195px 0 20px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -21px auto 0 78px;
}

.u-section-1 .u-text-28 {
  margin: 11px 18px 0;
}

.u-section-1 .u-shape-13 {
  width: 50px;
  height: 25px;
  margin: 10px auto 0 18px;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  margin: -23px 199px 0 20px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -23px auto 0 78px;
}

.u-section-1 .u-text-31 {
  margin: 10px 19px 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -573px 0 0;
}

.u-section-1 .u-group-5 {
  min-height: 518px;
  width: 350px;
  margin: 24px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 18px 30px;
}

.u-section-1 .u-text-33 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-shape-14 {
  height: 194px;
  margin: 10px 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -178px 0 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 15px;
}

.u-section-1 .u-text-36 {
  margin: 30px 15px 0;
}

.u-section-1 .u-text-37 {
  margin: 59px 15px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  margin: 9px auto 0;
  padding: 9px 329px 10px 327px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 588px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-15 {
  width: 700px;
  height: 433px;
  margin: -515px auto 0 62px;
}

.u-section-1 .u-shape-16 {
  width: 654px;
  height: 350px;
  margin: -408px auto 0 85px;
}

.u-section-1 .u-text-38 {
  font-size: 2.25rem;
  margin: -333px 309px 0 96px;
}

.u-section-1 .u-shape-17 {
  width: 610px;
  height: 46px;
  margin: 96px auto 0 110px;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  line-height: 1;
  margin: -83px 658px 0 115px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -121px 639px 0 110px;
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  line-height: 1;
  margin: 131px 669px 0 115px;
}

.u-section-1 .u-shape-18 {
  width: 610px;
  height: 46px;
  margin: -37px auto 0 110px;
}

.u-section-1 .u-image-3 {
  width: 126px;
  height: 125px;
  background-image: url("images/319ce148-8907-83b9-7cd9-720890fb0183.png");
  background-position: 50% 50%;
  margin: -309px 421px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 218px auto 0 85px;
  padding: 0 28px;
}

.u-section-1 .u-icon-9 {
  font-size: 1.25em;
}

.u-section-1 .u-btn-7 {
  font-size: 1.125rem;
  background-image: none;
  margin: -49px 421px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  font-size: 1.4584em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 4px;
    margin-left: 684px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-shape-3 {
    width: 940px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    padding: 7px 26px 8px 25px;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-shape-4 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 68px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -80px;
  }

  .u-section-1 .u-shape-13 {
    margin-top: 100px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -178px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 165px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 76px;
  }

  .u-section-1 .u-shape-14 {
    margin-top: -66px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-34 {
    margin-top: -102px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 85px;
  }

  .u-section-1 .u-shape-15 {
    margin-top: -629px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 39px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 388px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 369px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 399px;
    margin-left: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 126px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    border-style: none none solid;
    margin-top: 247px;
    margin-right: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 468px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-shape-4 {
    width: 720px;
  }

  .u-section-1 .u-shape-15 {
    margin-left: 20px;
  }

  .u-section-1 .u-shape-16 {
    width: 785px;
    margin-left: 66px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 288px;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 173px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-14 {
    margin-top: -90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-34 {
    margin-top: -78px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 157px;
  }

  .u-section-1 .u-shape-15 {
    width: 540px;
    margin-top: -425px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-16 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-17 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-18 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 414px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -30px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 79px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 109px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: 38px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 143px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 194px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 138px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 143px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 194px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 190px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-shape-13 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 194px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 2697px;
  }

  .u-section-1 .u-shape-15 {
    width: 340px;
    margin-top: -1699px;
  }

  .u-section-1 .u-text-38 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-shape-17 {
    width: 490px;
    margin-left: 25px;
  }

  .u-section-1 .u-shape-18 {
    width: 490px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 214px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -146px;
  }
}