 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 223px;
}

.u-section-1 .u-text-1 {
  margin: 40px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1519px;
}

.u-section-2 .u-tabs-1 {
  min-height: 1443px;
  margin-top: 25px;
  margin-bottom: 51px;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 673px;
  height: 407px;
  object-position: 0% 0%;
  margin: 0 auto 0 -32px;
}

.u-section-2 .u-group-1 {
  width: 595px;
  min-height: 306px;
  margin: -357px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 1px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  width: 305px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px 1px 0 0;
}

.u-section-2 .u-group-2 {
  min-height: 910px;
  margin-top: 101px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-group-3 {
  width: 600px;
  min-height: 58px;
  margin: 15px 239px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-2 .u-group-4 {
  min-height: 348px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 18px 0;
}

.u-section-2 .u-image-2 {
  height: 300px;
  object-position: 50% 100%;
  width: 500px;
  margin: 12px auto 0 30px;
}

.u-section-2 .u-text-6 {
  margin: -279px 30px 0 545px;
}

.u-section-2 .u-text-7 {
  margin: 15px 30px 0 545px;
}

.u-section-2 .u-group-5 {
  min-height: 348px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 18px 30px;
}

.u-section-2 .u-image-3 {
  height: 300px;
  object-position: 50% 53.27%;
  width: 500px;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: -279px 0 0 515px;
}

.u-section-2 .u-text-9 {
  margin: 51px 0 0 515px;
}

.u-section-2 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-6 {
  min-height: 1314px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 50px;
}

.u-section-2 .u-group-7 {
  min-height: 450px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-container-layout-9 {
  padding: 11px 0;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 39px auto 0 80px;
  padding: 10px 72px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.25em;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: -60px auto 0 330px;
  padding: 10px 68px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.25em;
}

.u-section-2 .u-group-8 {
  width: 419px;
  min-height: 62px;
  margin: -60px 79px 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  margin: 21px 2px 0 8px;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  font-weight: normal;
  margin: 18px 839px 0 119px;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  font-weight: normal;
  margin: -38px 588px 0 369px;
}

.u-section-2 .u-text-14 {
  margin: -5px 51px 0 auto;
}

.u-section-2 .u-group-9 {
  min-height: 740px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 29px 0;
}

.u-section-2 .u-text-15 {
  margin: 1px 30px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: -9px auto 0 80px;
  padding: 5px 72px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.25em;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  font-weight: normal;
  margin: -42px 314px 0 643px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  margin: 23px auto 0 80px;
  padding: 7px 72px;
}

.u-section-2 .u-icon-4 {
  font-size: 1.25em;
}

.u-section-2 .u-text-17 {
  font-size: 1rem;
  font-weight: normal;
  margin: -44px 500px 0 458px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  margin: 25px auto 0 80px;
  padding: 7px 72px;
}

.u-section-2 .u-icon-5 {
  font-size: 1.25em;
}

.u-section-2 .u-text-18 {
  font-size: 1rem;
  font-weight: normal;
  margin: -44px 549px 0 409px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  margin: 25px auto 0 80px;
  padding: 7px 72px;
}

.u-section-2 .u-icon-6 {
  font-size: 1.25em;
}

.u-section-2 .u-text-19 {
  font-size: 1rem;
  font-weight: normal;
  margin: -44px 515px 0 443px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  margin: 25px auto 0 80px;
  padding: 7px 72px;
}

.u-section-2 .u-icon-7 {
  font-size: 1.25em;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  font-weight: normal;
  margin: -50px 504px 0 454px;
}

.u-section-2 .u-group-10 {
  width: 920px;
  min-height: 138px;
  margin: 41px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-21 {
  font-size: 1rem;
  margin: 21px 2px 0 8px;
}

.u-section-2 .u-text-22 {
  margin: 30px 30px -1px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 375px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 375px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 415px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 315px;
  }

  .u-section-2 .u-group-8 {
    width: 100px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 543px;
    margin-right: 214px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 400px;
    margin-left: 358px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 449px;
    margin-left: 710px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -331px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-top: -43px;
    margin-right: 415px;
    margin-left: 343px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 465px;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-top: -489px;
    margin-right: 404px;
    margin-left: 354px;
  }

  .u-section-2 .u-group-10 {
    width: 880px;
    margin-top: 533px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-3 {
    margin-right: 60px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 155px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 155px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 195px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 433px;
    margin-right: 104px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 290px;
    margin-left: 248px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 339px;
    margin-left: 490px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 305px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 294px;
    margin-left: 244px;
  }

  .u-section-2 .u-group-10 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    height: 327px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -277px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 68px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 15px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 363px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 220px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 269px;
    margin-left: 350px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 235px;
    margin-left: 163px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 224px;
    margin-left: 174px;
  }

  .u-section-2 .u-group-10 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 206px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -156px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    height: 192px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -171px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 180px;
    width: 300px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -159px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 197px;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 120px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 169px;
    margin-left: 150px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 135px;
    margin-left: 63px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 124px;
    margin-left: 74px;
  }

  .u-section-2 .u-group-10 {
    width: 320px;
  }
}