 .u-section-1 {
  min-height: 2905px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  width: calc(((100% - 1140px) / 2) + 1190px);
  min-height: 103px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: -40px 28px 0 auto;
  padding: 0;
}

.u-section-1 .u-group-2 {
  margin-top: 25px;
  margin-bottom: 0;
  min-height: 267px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto 0 150px;
}

.u-section-1 .u-image-1 {
  width: 166px;
  height: 173px;
  margin: -12px 150px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -136px auto 0 150px;
}

.u-section-1 .u-line-1 {
  left: 125px;
  top: 84px;
  position: absolute;
  height: 150px;
  transform-origin: center top 0px;
}

.u-section-1 .u-group-3 {
  min-height: 432px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-line-2 {
  left: 558px;
  top: 114px;
  position: absolute;
  height: 288px;
  transform-origin: center top 0px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 113px 0 553px;
}

.u-section-1 .u-image-2 {
  width: 173px;
  height: 173px;
  margin: 42px auto 0 150px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -188px 60px 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 378px;
  margin-top: 22px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-line-3 {
  left: 125px;
  top: 84px;
  position: absolute;
  height: 263px;
  transform-origin: center top 0px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto 0 150px;
}

.u-section-1 .u-image-3 {
  width: 173px;
  height: 173px;
  margin: 70px 150px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -218px auto 0 150px;
}

.u-section-1 .u-group-5 {
  min-height: 461px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-1 .u-line-4 {
  left: 558px;
  top: 165px;
  position: absolute;
  height: 266px;
  transform-origin: center top 0px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 7px 28px 0 553px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 80px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 173px;
  height: 173px;
  margin: -256px auto 83px 150px;
}

.u-section-1 .u-group-6 {
  min-height: 378px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-line-5 {
  left: 125px;
  top: 112px;
  position: absolute;
  height: 170px;
  transform-origin: center bottom 0px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto 0 150px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 26px auto 0 150px;
}

.u-section-1 .u-image-5 {
  width: 173px;
  height: 173px;
  margin: -179px 150px 6px auto;
}

.u-section-1 .u-group-7 {
  min-height: 342px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-line-6 {
  left: 558px;
  top: 137px;
  position: absolute;
  height: 153px;
  transform-origin: center top 0px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 0 0 553px;
}

.u-section-1 .u-image-6 {
  width: 173px;
  height: 173px;
  margin: -31px auto 0 150px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -118px 28px 0 auto;
}

.u-section-1 .u-group-8 {
  min-height: 318px;
  margin-top: 24px;
  margin-bottom: 50px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-1 .u-line-7 {
  left: 125px;
  top: 113px;
  position: absolute;
  height: 159px;
  transform-origin: center top 0px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto 0 150px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1px auto 0 150px;
}

.u-section-1 .u-image-7 {
  width: 173px;
  height: 173px;
  margin: -158px 150px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 1190px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
    margin-left: 50px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 381px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 1190px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 1190px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 21px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -191px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 1190px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 94px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 94px;
  }
}